body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

.nav-bar {
  display: flex;
  position: sticky;
  z-index: 1000;
  top: 0;
  justify-content: center;
  background-color: #21272c;
  padding: 20px 0px;
}
.nav-buttons {
  margin-left: 30px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: #ff8000e2;
  font-weight: bold;
  font-size: x-large;
  transition: border-bottom 0.2s;
}
.nav-buttons:hover {
  border-bottom: 2px solid white;
}
.smoothScroll-buttons {
  margin-left: 30px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: #ff8000e2;
  font-weight: bold;
  font-size: x-large;
  transition: border-bottom 0.2s;
  background-color: transparent;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.smoothScroll-buttons:hover {
  border-bottom: 2px solid white;
}

.footer-bar {
  margin-top: 3%;
}
.contact-links {
  color: grey;
  text-decoration: none;
  border-bottom: 2px solid white;
  transition: border-bottom 0.2s;
}
.contact-links:hover {
  border-bottom: 2px solid black;
}

.home-page {
  zoom: 149%;
}
.home-text {
  margin-left: 35%;
}
.title {
  color: #4caf4fe2;
}

.food-card {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.food-image {
  cursor: pointer;
  width: 250px;
  border: 3px greenyellow solid;
  transition: scale 0.2s;
}
.food-image:hover {
  scale: 105%;
}
.food-name {
  font-weight: bold;
}
.food-id {
  width: 280px;
}
.refresh-page-button-container {
  display: flex;
  justify-content: center;
}
.refresh-page-button {
  margin-top: 38px;
  margin-left: 140px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 8px;
  border: none;
  border-radius: 6px;
  transition: background-color 0.2s;
}
.refresh-page-button:hover {
  background-color: rgb(from black 40 40 40);
}
.refresh-page-button:active {
  background-color: black;
}

.text-box {
  display: flex;
  justify-self: center;
  margin-left: 20px;
  margin-top: 15px;
  border-radius: 5px;
  padding: 4px;
  background-color: #4caf4fe2;
  color: black;
  border-color: transparent;
  border: 3px solid green;
  width: 130px;
  height: 20px;
}
.text-box::placeholder {
  color: rgb(99, 97, 97);
  transition: color 0.24s;
}
.text-box:hover::placeholder {
  color: black;
}
.intro-text-search {
  margin-left: 110px;
}

.reviews-container {
  margin-top: 30px;
  text-align: center;
  flex-wrap: wrap;
}
.reviews-title {
  color: #4caf4fe2;
  text-decoration: underline;
}
.testimony-card {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  white-space: pre-line;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.testimony-image {
  width: 260px;
  height: 280px;
  border: 3px black solid;
  cursor: pointer;
  transition: scale 0.2s;
}
.testimony-image:hover {
  scale: 105%;
}
.testimony-name {
  font-style: italic;
}
.testimony-id {
  width: 275px;
}
