body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #cedfe7;
}

/* Containers for new sections and titles etc CSS */
.reviews-container,
.about-container,
.features-container,
.meal-start-container,
.faq-container {
  justify-self: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.reviews-title,
.about-title,
.features-title,
.meal-start-title,
.faq-title {
  color: black;
  text-decoration: underline;
  justify-self: center;
}

.nav-bar {
  display: flex;
  position: sticky;
  z-index: 10000;
  top: 0;
  justify-content: center;
  background-color: rgba(33, 39, 44, 0.85);
  padding: 20px 0px;
  gap: 25px;
  backdrop-filter: blur(3.5px);
}
.nav-buttons {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  letter-spacing: 0.3px;
  color: white;
  font-weight: 500;
  font-size: x-large;
  transition: border-bottom 0.2s;
}
.nav-buttons:hover {
  border-bottom: 2px solid white;
}
.smoothScroll-buttons {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: white;
  font-weight: 500;
  letter-spacing: 0.3px;
  font-size: x-large;
  transition: border-bottom 0.2s;
  background-color: transparent;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.smoothScroll-buttons:hover {
  border-bottom: 2px solid white;
}

.footer-bar {
  margin-top: 3%;
}
.contact-links {
  color: grey;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.contact-links:hover {
  border-bottom: 2px solid black;
}
.faq-button {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: gray;
  font-weight: bold;
  font-size: x-large;
  transition: border-bottom 0.2s;
}
.faq-button:hover {
  border-bottom: 2px solid black;
}

.home-page {
  zoom: 147%;
}
.home-text {
  justify-self: center;
}
.title-info {
  justify-self: center;
}
.home-title {
  font-size: 36px;
}

.food-card {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.food-image {
  cursor: pointer;
  width: 250px;
  height: 300px;
  border: 3px greenyellow solid;
  transition: scale 0.2s;
}
.food-image:hover {
  scale: 105%;
}
.food-name {
  font-weight: bold;
  justify-self: center;
}
.food-id {
  width: 275px;
}
.refresh-page-button-container {
  display: flex;
  justify-content: center;
  /* margin-top: 45px; */
}
.refresh-page-button {
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 8px;
  border: none;
  border-radius: 6px;
  transition: background-color 0.2s;
}
.refresh-page-button:hover {
  background-color: rgb(from black 40 40 40);
}
.refresh-page-button:active {
  background-color: black;
}

.text-box {
  display: flex;
  justify-self: center;
  margin-top: 10px;
  border-radius: 5px;
  padding: 4px;
  background-color: #4caf4fe2;
  color: black;
  border-color: transparent;
  border: 3px solid green;
  width: 250px;
  height: 20px;
}
.text-box::placeholder {
  color: rgb(99, 97, 97);
  transition: color 0.24s;
}
.text-box:hover::placeholder {
  color: black;
}

.testimony-card {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  white-space: pre-line;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.testimony-image {
  width: 250px;
  height: 300px;
  border: 3px black solid;
  cursor: pointer;
  transition: scale 0.2s;
}
.testimony-image:hover {
  scale: 105%;
}
.testimony-name {
  font-style: italic;
}
.testimony-id {
  width: 275px;
}

.about-info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  justify-content: center;
  text-align: center;
}
.about-intro {
  display: inline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}
.dev-image {
  margin-left: 17px;
  width: 260px;
  height: 280px;
  border: 3px gold solid;
  cursor: pointer;
  width: 260px;
  transition: scale 0.2s;
}
.dev-image:hover {
  scale: 105%;
}
.links {
  color: grey;
  font-weight: bold;
  transition: color 0.3s;
}
.links:hover {
  color: #3f7eae;
}

.features-info-container,
.meal-start-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  width: 510px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.features-image {
  margin-left: 17px;
  height: 180px;
  border: 3px transparent solid;
  cursor: pointer;
  width: 260px;
  transition: scale 0.2s;
}
.features-image:hover {
  scale: 105%;
}

.meal-opener-button {
  color: white;
  font-weight: bold;
  font-size: large;
  background-color: black;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  padding: 13px;
  transition: background-color 0.2s;
}
.meal-opener-button:hover {
  background-color: rgb(from black 40 40 40);
}
.meal-opener-button:active {
  background-color: black;
}

.meal-page {
  zoom: 147%;
}
.extra-container {
  margin-top: 30px;
  justify-self: center;
}

.faq-page {
  zoom: 147%;
}

@media (max-width: 680px) {
  body {
    font-size: 12px;
  }
  .images {
    width: 150px;
    height: 200px;
  }
  .ids {
    font-size: 10px;
    width: 340px;
  }
  .about-info-container {
    font-size: 10px;
  }
  .titles {
    font-size: 18px;
  }
  .meal-opener-button {
    scale: 65%;
  }
  .home-text {
    scale: 90%;
  }
}
@media (max-width: 940px) {
  .nav-bar {
    gap: 0px;
    padding: 10px 0px;
  }
  .nav-buttons,
  .smoothScroll-buttons {
    scale: 80%;
  }
}
